name: Lint text

on:
  pull_request:
  workflow_dispatch:

jobs:
  CI:
    name: Lint text
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - name: Run actions/checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Run actions/setup-node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: "package.json"
      - name: Install dependencies
        run: make install
      - name: Run lint
        run: make lint
