name: Release PDF

on:
  pull_request:
    branches: [main]
    paths: ['docs/index.md']
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release PDF
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Run actions/checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Run actions/setup-node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: 'package.json'
      - name: Install dependencies
        run: make install
      - name: create PDF file
        run: make build-pdf
      - name: Create a draft release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        with:
          tag_name: ${{ github.ref }}
          body: ${{ github.event.pull_request.title }}
          draft: true
          fail_on_unmatched_files: true
          files: docs/index.pdf
          name: Release ${{ github.ref }}