name: Release PDF

on:
  pull_request:
    branches: [main]
    paths: ['docs/index.md']
  workflow_dispatch:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release PDF
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Run actions/checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Run actions/setup-node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version-file: 'package.json'
      - name: Install dependencies
        run: make install
      - name: create PDF file
        run: make build-pdf
      - name: Create a draft release
        uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          tag_name: ${{ github.ref }}
          body: ${{ github.event.pull_request.title }}
          draft: true
          fail_on_unmatched_files: true
          files: docs/index.pdf
          name: Release ${{ github.ref }}